.no-list-card {
    background-color: #f5f5f5;
    /* background-color: #d82626; */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem 10.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    /* max-width: 100%; */
  }